<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <link rel="stylesheet" href="styles.css">

    <link rel="icon" href="logo.png">

    <!-- googe fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <!-- graph plot cdn (plotly.js) -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body id="home-page">
    
    <div id="content">
        
        <h1 name="required">Train your Brain !</h1>
        <h3>Play games daily • Check your progress • Fight Alzhiemer</h3>
        <img src="images/brain.png" alt="brain-photo" id="brain-pic"> <br>

        <form action="/signup" class="inline">
            <button type="submit" class="sign-up">Sign up</button>
        </form>
        <form action="/login" method="GET" class="inline">
            <button type="submit" class="login" >Login</button>
        </form>
        
    </div>

</body>
</html>
